* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#root > * {
    margin: 1rem;
}

.product-section-title {
    text-align: center;
}